In [32]:
import pandas as pd
import numpy as np

In [33]:
df1=pd.DataFrame({'COL1':[0,1]},index=['row1','row2'])

In [34]:
df2=pd.DataFrame({'COL2':[0,1]},index=['row3','row4'])

In [35]:
df3=pd.DataFrame({'COL3':['high','medium','low']},index=['row5','row6','row7'])

In [36]:
x=[0,1]
y=[25,35]
z=['high','medium','low']

In [37]:
import itertools

In [38]:
data=itertools.product(x,y,z)

In [39]:
data=list(data)

In [41]:
df=pd.DataFrame(data,columns=['a','b','c'])

In [42]:
df

    a   b       c
0   0  25    high
1   0  25  medium
2   0  25     low
3   0  35    high
4   0  35  medium
5   0  35     low
6   1  25    high
7   1  25  medium
8   1  25     low
9   1  35    high
10  1  35  medium
11  1  35     low